/* Write your code here: */
h1, h2 {
    color: blueviolet
}
.box > .done {
    color: firebrick;
}
.box li {
    color: blue;
}
/*Chaining*/
li.done {
    color: seagreen;
}
ul p.done {
    font-size: 0.5rem;
}