/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}
.white-text {
  color:white;
  background-color: red;
  padding:10px;
}
#outer-box {
  border:10px solid purple
}