img{
  height: 350px;
  border: 5px solid white;
}
html{
  background-color: black;
  color: white;
}
div {
  font-family: 'Caveat', cursive;
  text-align: center;
  margin-top: 20px
}
h1{
  text-transform: uppercase;
}
