body {
    font-family: 'Sono', sans-serif;
 }
 .pricing-container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   gap: 2rem
 }
 
 .pricing-plan{
   flex: 1 1 0;
   max-width: 400px;
   padding: 20px;
   background-color: #f2f2f2;
   border-radius: 20px;
   text-align: center;
 }
 
 .plan-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #569DAA;
    border-radius: 20px;
    padding: 20px;
    color: white;
    
 }
 
 .plan-price {
   font-size: 28px;
   font-weight: bold;
   margin-bottom: 10px;
 }
 
 .plan-features {
   list-style: none;
   padding: 0;
   margin: 0;
 }
 
 .plan-features li {
   margin-bottom: 20px;
 }
 
 .plan-button{
   padding: 10px;
   background-color: #ff6600;
   color: #fff;
   border-radius: 20px;
   border: none;
 }
 @media (max-width: 1250px) {
    .pricing-container {
        flex-direction: column;
        height: 100%;
    }
}